/*
	*
	*	F2fw 3.0.1 (http://f2fw.com)
	*	Notice: this file isn't tested or update
	*
*/
#wrapper,#container{text-align:left;width:100%;margin:2% auto;padding:5%;}#logo,#menu{float:none;}h1{font-size:2em;line-height:1.2em;}h2{font-size:1.8em;line-height:1.2em;}h3{font-size:1.6em;line-height:1.2em;}h4{font-size:1.4em;line-height:1.2em;}h6{font-size:1em;line-height:1.2em;}blockquote{font-size:1em;line-height:1.3em;padding:0;}blockquote p{font-size:1em;line-height:1.3em;}table{font-size:0.9em;line-height:1.2em;}table td,table th{padding:4px;}div.c2,div.c3,div.c4,div.c5,div.c6{display:block;}div.c2 div.c21,div.c2 div.c22,div.c3 div.c31,div.c3 div.c32,div.c3 div.c33,div.c4 div.c41,div.c4 div.c42,div.c4 div.c43,div.c4 div.c44,div.c5 div.c51,div.c5 div.c52,div.c5 div.c53,div.c5 div.c54,div.c5 div.c55,div.c6 div.c61,div.c6 div.c62,div.c6 div.c63,div.c6 div.c63,div.c6 div.c64,div.c6 div.c65,div.c6 div.c66{float:none;width:100%;margin-right:0;}div.tabs div.tabs-n ul li{float:none;font-size:0.9em;line-height:1.2em;}div.tabs div.tabs-n ul li a{border-bottom:0;margin-right:0;}div.tabs div.tabs-c{margin-top:0;}h5,p.p16,pre,code{font-size:1.2em;line-height:1.2em;}p,address,ul li,ol li{font-size:0.9em;line-height:1.3em;}

/*
	*
	*	Start
	*
*/
