/*
	*
	*	F2fw 3.0.2 (http://f2fw.com)
	*
*/
#container{width:100%;margin:0 auto;}#logo,#menu{float:none;}a:link,a:visited,a:hover,a:active{text-decoration:underline;color:#000;}.c2,.c3,.c4,.c5,.c6{display:block;}.c2 .c21,.c2 .c22,.c3 .c31,.c3 .c32,.c3 .c33,.c4 .c41,.c4 .c42,.c4 .c43,.c4 .c44,.c5 .c51,.c5 .c52,.c5 .c53,.c5 .c54,.c5 .c55,.c6 .c61,.c6 .c62,.c6 .c63,.c6 .c63,.c6 .c64,.c6 .c65,.c6 .c66{margin-right:0;float:none;width:100%;}.pagination,.jump{display:none;}.notifications .inform,.notifications .success,.notifications .warning,.notifications .error{border:1px solid #CCC;background:#EEE;margin:0 0 15px;}

/*
	*
	*	Start
	*
*/
